<article class="post">
  <div class="title">
    <a href="{{product_url}}" target="_blank">{{title}}</a>
    <span>({{format_url product_url}})</span>
  </div>
  <div class="meta">
    {{product_name}} {{price}} {{stock}} {{image}}
    |
    <a href="/product/{{id}}">{{product_name}} {{price}} {{stock}} </a>
  </div>
</article>