<nav>
    <a href="/products/add-product"><button type="submit" class="btn">Add Product</button></a>
</nav>

<div id="product-template">
    <div id="product-container">
    {{#each products}}
    <div class="product-img">
        {{{ image }}}
    </div>

    <div class="info-column">
        <h2>{{product_name}} <span>{{category_id}}</span></h2>

        <h3>Price: {{price}} / # in stock: {{stock}}</h3>
    </div>
    {{/each}}
</div>
</div>

<script src="../public/js/add-product.js"></script>
<script src="../public/js/display-products.js"></script>
